*{
    padding: 0;
    margin: 0;
    box-sizing: none;
}
body{
    background-color: rgba(244, 244, 244, 0.56);
}
.bianchi{
    background-color: white;
}
#logo{
    padding: 10px 20px;
    background-color: white;
}
#logo h1{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: 18%;
    font-weight: bold;
    font-size: 3em;
}
header{
    margin-top: 40px;
    padding-left: 40px;
    padding-top: 13px;
    padding-bottom: 10px;
}
.bianchi{
    margin-left: 150px;
    margin-right: 200px;
}
#task{
    height: 29px;
    width: 80px;
    background-color: rgb(104, 165, 212);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
}
#sect{
    height: 29px;
    width: 90px;
    font-weight: bold;
    color: rgb(229, 229, 229);
    background-color: white;
    border-radius: 4px;
    border: solid 2px rgb(227, 227, 227);
}
main{
    margin-top: 3px;
    padding-top: 30px;
    padding-left: 35px;
    font-family: Arial, sans-serif;
    font-weight: 545;
}